body {
    font-family: sans-serif;
}
header {
    background-color: blue;
}
header h1, header h2 {
    color: white;
}

ul.sem-bullets {
    list-style-type: none;
}

a.link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer {
    background-color: "CECECE";
    text-align: center;
}
