body {
    font-family: sans-serif;
}
header {
    background-color: blue;
}
header h1, header h2 {
    color: white;
    margin: 0;
}

div.titulo {
    display: inline-block;
}

ul.sem-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;  /* ajustar espaços entre os botões é melhor usar flex do que CSS puro */
    flex-direction: row;    /* ajusta sempre em linhas ou colunas */
    /*justify-content: space-between;*/ /* calcula todo o espaçamento entre eles */
    justify-content: space-around; /* calcula o espaçamento entre eles e as margens */
}

ul.sem-bullets li {
    display: inline-block;
    background-color: green ;
    padding: 15px 10px;
}

a.link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer {
    background-color: "CECECE";
    text-align: center;
}

@media (max-width: 500px) {
    ul.sem-bullets li {
        background-color: red;
    }
    
    ul.sem-bullets {
        justify-content: space-between;
    }

    header {
        text-align: center;
    }
}